<%= form_with(model: roommate) do |form| %>
  <% if roommate.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(roommate.errors.count, "error") %> prohibited this roommate from being saved:</h2>

      <ul>
        <% roommate.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :user_name, class: "form-control", placeholder: "Roommate Name" %>
  </div>
  <br/>

  <div class="form-group">
    <%= form.text_field :email, class:"form-control", placeholder:"Email" %>
  </div>
  <br/>

  <div class="form-group">
    <%= form.text_field :phone, class:"form-control", placeholder:"Phone Number" %>
  </div>
  <br/>

  <div class="form-group">
    <%= form.text_field :emergency_contact, class:"form-control", placeholder:"Emergency Contact" %>
  </div>
  <br/>

  <div class="form-group">
    <%= form.text_field :emergency_phone, class:"form-control", placeholder:"Emergency Phone Number" %>
    <%= form.number_field :home_id, id: :roommate_home_id, value: current_home.id, type: "hidden"  %>
  </div>
  <br/>

  <div class="Action" >
    <%= form.submit :Submit, class:"btn btn-success", style:"width: 14rem" %>
  </div>
<% end %>
