<div id="<%= dom_id roommate %>">
  <p>
    <strong>User name:</strong>
    <%= roommate.user_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= roommate.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= roommate.phone %>
  </p>

  <p>
    <strong>Emergency contact:</strong>
    <%= roommate.emergency_contact %>
  </p>

  <p>
    <strong>Emergency phone:</strong>
    <%= roommate.emergency_phone %>
  </p>

</div>
