<p style="color: green"><%= notice %></p>

<h1>Roommates</h1>

<table id="roommates" class="table table-striped table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Emergency Contact</th>
      <th>Emergency Phone</th>
    </tr>
  </thead>

  <tbody>
    <% @roommates.each do |roommate| %>
      <% if roommate.home_id == current_home.id %>
      <tr>
        <td><%= link_to roommate.user_name, roommate %></td>
        <td><%= roommate.email %></td>
        <td><%= roommate.phone %></td>
        <td><%= roommate.emergency_contact %></td>
        <td><%= roommate.emergency_phone %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
<br/>
<button class="btn btn-primary">
  <%= link_to "New roommate", new_roommate_path, class:"btn btn-primary" %>
</button>
