<p style="color: green"><%= notice %></p>
<div class="row">
  <div class="card">
  <%= render @roommate %>

  <div>
    <%= link_to "Edit this roommate", edit_roommate_path(@roommate) %> |
    <%= link_to "Back to roommates", roommates_path %>

    <%= button_to "Destroy this roommate", @roommate, method: :delete %>
  </div>
  </div>
</div>