<div id="<%= dom_id epxense %>">
  <p>
    <strong>Expense name:</strong>
    <%= epxense.expense_name %>
  </p>

  <p>
    <strong>Expense amount:</strong>
    <%= epxense.expense_amount %>
  </p>

  <p>
    <strong>Exp date:</strong>
    <%= epxense.exp_date %>
  </p>

  <p>
    <strong>Expensetype:</strong>
    <%= epxense.expenseType %>
  </p>

  <p>
    <strong>Paid:</strong>
    <%= epxense.paid %>
  </p>

  <p>
    <strong>Paidby:</strong>
    <%= epxense.paidBy %>
  </p>

</div>
