<%= form_with(model: epxense) do |form| %>
  <% if epxense.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(epxense.errors.count, "error") %> prohibited this epxense from being saved:</h2>

      <ul>
        <% epxense.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :expense_name, class:"form-control", placeholder:"Expense Name" %>
  </div>

  <div class="form-group">
    <%= form.text_field :expense_amount, class:"form-control", placeholder:"Expense Amount" %>
  </div>

  <div class="form-group">
    <%= form.date_field :exp_date, class:"form-control", placeholder:"Due Date" %>
  </div>

  <div class="form-group">
    <%= form.text_field :expenseType, class:"form-control", placeholder:"Expense Type" %>
  </div>

  <div>
    <%= form.label :Paid?, style: "display: block" %>
    <%= form.check_box :paid %>
  </div>

  <div class="form-group">
    <%= form.text_field :paidBy, class:"form-control", placeholder:"Paid By" %>
    <%= form.number_field :home_id, id: :epxense_home_id, value: current_home.id, type: "hidden"  %>
  </div>


  <br/>
  <div class="Action">
    <%= form.submit :Submit, class:"btn btn-success", style:"width: 14rem" %>
  </div>


<% end %>
