<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :name, class:"form-control", placeholder:"Event Name" %>
  </div>

  <div class="form-group">
    <%= form.label :Event_date, style: "display: block" %>
    <%= form.date_field :date, class:"form-control" %>
    <%= form.number_field :home_id, id: :event_home_id, value: current_home.id, type: "hidden"  %>
  </div>
  <br/>
  <div class="Action">
    <%= form.submit :Submit, class:"btn btn-success", style:"width: 14rem" %>
  </div>
<% end %>
