<%= form_with(model: chore) do |form| %>
  <% if chore.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(chore.errors.count, "error") %> prohibited this chore from being saved:</h2>

      <ul>
        <% chore.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :name, class:"form-control", placeholder:"Chore Name" %>
  </div>

  <div class="form-group">
    <%= form.text_field :assigned_to, class:"form-control", placeholder:"Assigned Roommate" %>
  </div>
  <br/>
  <div class="form-group">
  <%= form.label :Due_Date, style: "display: block" %>  
  <%= form.date_field :due_date, class:"form-control" %>
  </div>

  <div>
    <%= form.label :Completed?, style: "display: block" %>
    <%= form.check_box :completed %>
    <%= form.number_field :home_id, id: :chore_home_id, value: current_home.id, type: "hidden"  %>
  </div>
  <br/>
  <div class="Action">
    <%= form.submit :Submit, class:"btn btn-success", style:"width: 14rem"%>
  </div>
<% end %>
